{% load i18n %}
{% load l10n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
<meta name="description" content="description"/>
<meta name="keywords" content="keywords"/> 
<meta name="author" content="author"/> 
<link rel="stylesheet" type="text/css" href="/static/kurs/css/default.css" media="screen"/>
<title>{% block title %}LKD Kurs Kayıt Yazılımı{% endblock %}</title>
</head>

<body>

<div class="container">
	
	<div class="main">

		<div class="header">
		
			<div class="title">
				<h1>LKD Kurs Kayıt Yazılımı</h1>
			</div>

		</div>
		
		<div class="content">	
			{% if messages %}
    			{% for message in messages %}
    				<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
    					<p><strong>{{ message }}</strong></p>
    				</div>
    			{% endfor %}
			{% endif %}

			<div class="item">
				{% block content %} {% endblock %}
			</div>
		</div>
		
		<div class="sidenav">
			
		{% if user.is_authenticated %}
			<h1>{% trans "Welcome" %} {{ user.username }}</h1>
			<ul>
				<li><a href="/kurs/">{% trans "Main page" %}</a></li>
				<li><a href="/kurs/etkinlik/">{% trans "Events" %}</a></li>
				<li><a href="/profile/">{% trans "Profile" %}</a></li>
				<li><a href="/kurs/basvurular/">{% trans "Previous applications" %}</a></li>
				<li><a href="{% url auth_logout %}">{% trans "Logout" %}</a></li>
			</ul>

			{% if user.is_staff %}
			<h1>{% trans "Admin pages" %}</h1>
			<ul>
				<li><a href="/admin/">{% trans "Admin interface" %}</a></li>
			</ul>
			{% endif %}
			
		{% else %}
			<h1>{% trans "You are not logged in." %}</h1>
			<ul>
				<li><a href="/kurs/">{% trans "Main page" %}</a></li>
				<li><a href="/kurs/etkinlik/">{% trans "Events" %}</a></li>
				<li><a href="{% url auth_login %}?next=
				{% if '/accounts/' in request.path  %}/kurs/
				{% else %}
				{% firstof request.path '/' %}
				{% endif %}
				">{% trans "Login" %}</a></li>
				<li><a href="{% url registration_register %}">{% trans "Register" %}</a></li>
			</ul>
		{% endif %}

		</div>
	
		<div class="clearer"><span></span></div>

	</div>

	<div class="footer">&copy; 2006 <a href="index.html">Website.com</a>. Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> &amp; <a href="http://validator.w3.org/check?uri=referer">XHTML</a>. Template design by <a href="http://templates.arcsin.se">Arcsin</a>
	</div>

</div>

</body>

</html>