{% extends "base.html" %}
{% load url from future %}

{% block content %}

<h1>Başvuru Tercihleri</h1>
<h3><a href="/kurs/etkinlik/{{ event_id }}/tercihler/edit/">Değişiklik yap</a></h3>
{% if object_list %}

<table>
	<tr align="center">
			<th>#</th>
			<th>Tercih</th>
			<th>Son güncelleme</th>
	</tr>
	{% for applicationchoice in object_list %}
		<tr align="center">
			<td>{{ applicationchoice.choice_number }}</td>
			<td>{{ applicationchoice.choice }}</td>
			<td>{{ applicationchoice.last_update }}</td>
		</tr>
	{% endfor %}
</table>
{% else %}
	<p>Bu etkinlikte hiç tercih yapmadınız.</p>
{% endif %}
		
{% endblock %}
