{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load l10n %}

{% block content %}

<h1>{% trans "Application Choices" %}</h1>
<h3><a href="/kurs/etkinlik/{{ event_id }}/tercihler/edit/">{% trans "Edit choices" %}</a></h3>
{% if object_list %}

<table>
	<tr align="center">
			<th>#</th>
			<th>{% trans "Choice" %}</th>
			<th>{% trans "Last updated" %}</th>
	</tr>

	{% for applicationchoice in object_list %}
		<tr align="center">
			<td>{{ applicationchoice.choice_number }}</td>
			<td>{{ applicationchoice.choice }}</td>
			<td>{{ applicationchoice.last_update }}</td>
		</tr>
	{% endfor %}
</table>

{% else %}
	<p>{% trans "You have not made any choices for this event yet." %}</p>
{% endif %}
		
{% endblock %}
