{% extends "base.html" %}
{% load i18n %}
{% load l10n %}

{% block content %}

{% if course %}
	<h1>{{ course.display_name }}</h1>
	<h3>{% trans "Description" %}</h3>
	<p>{{ course.description|linebreaks|escape }}</p>

	<h3>{% trans "Start date" %}</h3>
	<p>{{ course.start_date }}</p>
	
	<h3>{% trans "End date" %}</h3>
	<p>{{ course.end_date }}</p>
	
	<h3>{% trans "Last date to apply/change" %}</h3>
	<p>{{ course.change_allowed_date }}</p>
	
	<h3>{% trans "Prerequisites" %}</h3>
	<p>{{ course.agreement|linebreaks|escape }}</p>
	
	{% if course.can_be_applied %}
		{% if has_applied == 1 %}
			<h2>{% trans "You have applied to this course." %}</a></h2>
		{% elif previous_applications == 0 %}
			<h2><a href="/kurs/kurs/{{ course.id }}/basvur/">{% trans "Apply" %}</a></h2>
		{% elif previous_applications > 0 %}
			<h2>{% trans "You have already applied to another course in this event." %}</h2>
		{% else %}
			<h2>{% trans "In order to apply for this course, either" %}
			<a href="{% url auth_login %}?next={% firstof request.path '/' %}">{% trans "Login" %}</a>
			 {% trans "or" %} <a href="{% url registration_register %}">{% trans "Register" %}</a></h2>
		{% endif %}
	{% else %}
		<h2>{% trans "This course is not open for application." %}</h2>
	{% endif %}

{% else %}
	<p>{% trans "There is no such course." %}</p>
{% endif %}
		
{% endblock %}
