{% extends "base.html" %}
{% load url from future %}

{% block content %}

{% if course %}
	<h1>{{ course.display_name }}</h1>
	<h3>Açıklama</h3>
	<p>{{ course.description }}</p>

	<h3>Başlangıç Tarihi</h3>
	<p>{{ course.start_date }}</p>
	
	<h3>Bitiş Tarihi</h3>
	<p>{{ course.end_date }}</p>
	
	<h3>Son Başvuru Tarihi</h3>
	<p>{{ course.change_allowed_date }}</p>
	
	<h3>Kurs Yükümlülükleri</h3>
	<p>{{ course.agreement }}</p>
	
	{% if course.is_open %}
		{% if has_applied == 1 %}
			<h2>Bu kursa başvurdunuz.</a></h2>
		{% elif previous_applications == 0 %}
			<h2><a href="/kurs/kurs/{{ course.id }}/basvur">Başvur</a></h2>
		{% else %}
			<h2>Bu etkinlikte zaten bir kursa başvurdunuz.</h2>
		{% endif %}
	{% else %}
		<h2>Bu kurs başvuruya açık değil.</h2>
	{% endif %}

{% else %}
	<p>Böyle bir kurs yok.</p>
{% endif %}
		
{% endblock %}
