{% extends "base.html" %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans "Profile Details" %}{% endblock %}

{% block content %}
<h1>{% blocktrans %}Profile details for {{ user }}{% endblocktrans %}
(<a href="{% url profiles.views.edit_profile %}">{% trans "Edit" %}</a>
<a href="{% url auth_password_change %}">{% trans "Change Password" %}</a>)</h1>

<p>{% trans "First name" %}: {{ profile.user.first_name }}</p>
<p>{% trans "Last name" %}: {{ profile.user.last_name }}</p>
<p>{% trans "E-mail" %}: {{ profile.user.email }}</p>
<p>{% trans "Company" %}: {{ profile.company }}</p>
<p>{% trans "Contact address" %}:<br />{{ profile.contact_address|linebreaksbr|escape }}</p>
<p>{% trans "Mobile" %}: {{ profile.mobile }}</p>
<p>{% trans "Phone" %}: {{ profile.phone }}</p>


{% endblock content %}
